@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto px-6;
}

.header-scroll {
    @apply border-b border-b-gray-300 shadow-lg;
}

textarea:focus {
    box-shadow: none;
    border-color: hsl(var(--bc) / 0.2);
}